<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="UNP" tabIcon="home"></ion-tab>
  <!--<ion-tab [root]="tab2Root" tabTitle="About" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Contact" tabIcon="contacts"></ion-tab>-->
</ion-tabs>
