<ion-header>
  <ion-navbar>
    <ion-title>UNP Radio 100.7FM</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="colormaster">
  <img src="assets/imgs/logounp.png">
  <audio controls autoplay="autoplay" id="elemento"><source src="http://68.66.193.12:8040/stream?type=.mp3" type="audio/mp3">Your browser does not support the audio element.</audio>
  <button ion-button color="light" onclick="window.plugins.socialsharing.share('Mira lo que esta sonando en la radio de la UNP', null, null, 'https://play.google.com/store/apps/details?id=com.unp.radio')">
  	<ion-icon name="md-share"></ion-icon>
  </button>
</ion-content>
